/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.block-link {
	display: block;
}

.text {

	&--red {
		color: $red;
	}
}

.bg-contrast {
  background-color: $grey--lightest;
}

.bg-white {
  background-color: $white;
}

.z-depth-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.z-depth-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row-margin-top {
  margin-top: 3rem;

  @media (min-width: $screen-xs-min) {
    margin-top: 4rem;
  }
}

.row-margin-bottom {
  margin-bottom: 3rem;

  @media (min-width: $screen-xs-min) {
    margin-bottom: 4rem;
  }
}

.row-padding-bottom {
  padding-bottom: 3rem;

  @media (min-width: $screen-xs-min) {
    padding-bottom: 4rem;
  }
}

.row-padding-top {
  padding-top: 3rem;

  @media (min-width: $screen-xs-min) {
    padding-top: 4rem;
  }
}

.hoverable {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
