/*	Typography
	=========================== */
$primaryFont: 'Josefin Slab', serif;

/*	Colors
	=========================== */
$white: #ffffff;
$black: #000000;

$grey--lighter: #dddddd;
$grey--lightest: #eeeeee;

$red: #FF3333;