<article class="blogpost-intros" ng-repeat="blogpost in blogPosts | orderBy: orderBy | limitTo: limitTo | filter: searchArticle">
	<a class="blogpost-intro block-link clearfix" href="#/writing/article/{{ blogpost.routeParam }}">
		<div ng-if="blogpost.partOfSeries" class="blogpost-intro__series">
			Part of series:
			<span class="blogpost-intro__series__title">{{ blogpost.seriesTitle }}</span>
		</div>
		<h2 class="blogpost-intro__title">{{ blogpost.title }}</h2>
		<span class="blogpost-intro__date">{{ blogpost.dateFormatted }}</span>
		<p class="blogpost-intro__intro">{{ blogpost.intro }}</p>
		<span class="blogpost-intro__cta">Read article &raquo;</span>
	</a>
</article>