<nav class="navbar clearfix" ng-controller="navbarCtrl as navbarCtrl">
	<a class="navbar__brand" href="#/">Frederic Aerts</a>
	<div class="navbar-toggle" ng-class="{ 'navbar-toggle--close': navOpen }" ng-click="navOpen = !navOpen">
		<span class="navbar-toggle__lines"></span>
	</div>
	<div class="navbar__links">
		<a class="navbar__link" ng-class="{ 'navbar__link--active': isActiveNav('/') }" href="#/">Home</a>
		<a class="navbar__link" ng-class="{ 'navbar__link--active': isActiveNav('/writing') }" href="#/writing">Writing</a>
		<a class="navbar__link" ng-class="{ 'navbar__link--active': isActiveNav('/contact') }" href="#/contact">Contact</a>
	</div>
</nav>