<div class="container">
	<div ng-controller="postRouteCtrl as postRouteCtrl">
		<h1>{{ currentArticle.title }}</h1>
		<p>posted on {{ currentArticle.dateFormatted }} by <a href="http://twitter.com/fredericAerts" target="_blank">@fredericAerts</a></p>

		<div ng-if="currentArticle.partOfSeries">
			<p>
				This article is part of series <strong>"{{ currentArticle.series.title }}"</strong>
				(article {{ currentArticle.seriesIndex + 1 }} of {{ currentArticle.series.numberOfArticles }})
			</p>
			<ul>
				<li ng-class="prevPageDisabled()">
					<a href ng-click="prevPage()">&laquo; Prev</a>
				</li>
				<li ng-repeat="n in range()" ng-class="{ active: n == currentArticle.seriesIndex }">
					<a href ng-click="setPage(n)">{{ n+1 }}</a>
				</li>
				<li ng-class="nextPageDisabled()">
					<a href ng-click="nextPage()">Next &raquo;</a>
				</li>
			</ul>
		</div>

		<div ng-include="currentArticle.includeUrl"></div>
	</div>
</div>