<div class="container">
	<h1>
		Hello.
	</h1>
	<p>
		I’m Frederic — a freelance front-end web developer — focusing on HTML5, CSS, and JavaScript.
	</p>
	<p>
		This is my online home, where you’ll find my articles and where you can get in touch via the contact page.
	</p>

	<!-- blog posts list -->
	<h1>Latest articles</h1>
	<div ng-controller="blogPostsCtrl as blogPostsCtrl">
		<blogpostintros orderBy="-date" limitTo="3"></blogpostintros>
	</div>
	<a class="button" href="#/writing">See All Articles</a>
</div>

<contactbox></contactbox>