<div class="container">
	<div ng-controller="blogPostsCtrl as blogPostsCtrl">
		<div class="search-wrapper">
			<input class="search" type="text" ng-model="query" placeholder="Search Series">
		</div>
		<div class="title-flanked">
			<h1>All Series</h1>
			<span class="search-subtitle" ng-show="query">Search results for {{ query }}...</span>
			<a class="title-flanked__flank title-flanked__flank--link" href="#!/writing">See All Articles &raquo;</a>
		</div>
		<seriesintros orderBy="-id"></seriesintros>
		<p class="search-no-results" ng-hide="seriesArrayFiltered.length || !blogPostIntrosLoaded">No series found containing {{ query }}...</p>
	</div>
</div>

<div class="bg-white row-margin-top row-margin-bottom row-padding-bottom">
	<contactbox ng-show="blogPostIntrosLoaded"></contactbox>
</div>
