<div class="container container--padded">
	<div ng-controller="seriesRouteCtrl as seriesRouteCtrl">

		<article class="blogpost">
			<h1>{{ currentArticle.title }}</h1>
			<div class="blogpost__meta blogpost__meta--top">
				<a class="blogpost__share blogpost__share--series" ng-href="https://twitter.com/intent/tweet/?url={{currentUrl}}&via=fredericAerts" target="_blank" ng-click="trackShareArticleOnTwitter(currentArticle)">
					<img class="blogpost__share__image" src="/web/img/twitter-logo.svg">
				</a>
				<div class="blogpost__meta__item">
					posted on {{ currentArticle.dateFormatted }} by <a href="http://twitter.com/fredericAerts" target="_blank">@fredericAerts</a>
				</div>
				<div class="blogpost__meta__item">
					Part of series: <span class="blogpost__meta__seriesTitle">{{ currentSeries.title }}</span> <span ng-show="currentSeries.inProgress">(to be continued)</span>
				</div>
				<div class="blogpost__navblock blogpost__navblock--top clearfix">
					<span>
						Article {{ currentArticle.seriesIndex + 1 }} of {{ currentSeries.numberOfArticles }}
					</span>
					<div class="blogpost__series-nav">
						<a class="blogpost__series-nav__item" ng-class="prevPageDisabled()" href ng-click="prevPage()">
							Previous
						</a>
						<a class="blogpost__series-nav__item" ng-class="nextPageDisabled()" href ng-click="nextPage()">
							Next
						</a>
					</div>
				</div>
			</div>

			<div ng-include="currentArticle.includeUrl" class="animateInclude" ng-show="articleLoaded"></div>

			<div class="blogpost__meta blogpost__meta--bottom" ng-show="articleLoaded">
				<a class="blogpost__share blogpost__share--series" ng-href="https://twitter.com/intent/tweet/?url={{currentUrl}}&via=fredericAerts" target="_blank" ng-click="trackShareArticleOnTwitter(currentArticle)">
					<img class="blogpost__share__image" src="/web/img/twitter-logo.svg">
				</a>
				<div class="blogpost__navblock blogpost__navblock--bottom clearfix">
					<span class="blogpost__to-top-nav" ng-click="toTop()">
						To top
					</span>
					<div class="blogpost__series-nav">
						<a class="blogpost__series-nav__item" ng-class="prevPageDisabled()" href ng-click="prevPage()">
							Previous
						</a>
						<a class="blogpost__series-nav__item" ng-class="nextPageDisabled()" href ng-click="nextPage()">
							Next
						</a>
					</div>
				</div>
			</div>

		</article>
	</div>
</div>