.blogpost-intros {
	position: relative;
	margin-bottom: 0.55555555555556rem;
	@extend .z-depth-1;

	&:last-child {
		margin-bottom: 0;
	}

	& p {
		font-family: $secondaryFont;
		font-size: .9em;
		line-height: 1.5em;
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.blogpost-intro {
	padding: 1.5rem 1.5rem 3rem;

	@extend .bg-white;

	text-decoration: none;

	@extend .hoverable;

	@media (min-width: $screen-xs-min) {
		padding: 2rem 2rem 3rem;
	}
}

.blogpost-intro__series {
	margin-bottom: 1rem;

	font-size: 15px;
	font-weight: 500;
}

.blogpost-intro__series__title {
	font-weight: 300;

	& + span {
		font-weight: 300;
	}
}

.blogpost-intro__title {
	font-weight: 500;
	margin-top: .6rem;
}

.blogpost-intro__date {
	display: inline-block;
	margin: .4rem 0 1rem;

	font-size: 14px;
}

.blogpost-intro__intro {
	margin: 0;
}

.blogpost-intro__cta {
	position: absolute;
	bottom: 10px;
	right: 15px;
	float: right;

	font-size: 14px;
	font-weight: 500;

	@include user-select(none);

	@media (min-width: $screen-xs-min) {
		font-size: 16px;
	}
}
