.blogpost-intros {
	position: relative;
	margin-bottom: 0.55555555555556rem;

	&:last-child {
		margin-bottom: 0;
	}

	& p {
		font-family: $secondaryFont;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.blogpost-intro {
	padding: 2rem 2rem 3rem;

	background: $grey--lightest;

	text-decoration: none;

	@include transition(all .3s);

	&:hover {
		background: $grey--lighter;
		box-shadow: 0 2px 3px rgba(0,0,0,0.075);
	}
}

.blogpost-intro__series {
	margin-bottom: 1rem;

	font-size: 16px;
	font-weight: 700;
}

.blogpost-intro__series__title {
	font-weight: 400;

	& + span {
		font-weight: 400;
	}
}

.blogpost-intro__title {
	margin-top: .6rem;
}

.blogpost-intro__date {
	display: inline-block;
	margin: .4rem 0 1rem;

	font-size: 14px;
}

.blogpost-intro__intro {
	margin: 0;
}

.blogpost-intro__cta {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;

	font-size: 14px;
	font-weight: 700;

	@include user-select(none);

	@media (min-width: $screen-xs-min) {
		font-size: 18px;
	}
}