.blogpost {

	& h1 {
		margin-bottom: .6rem;

		font-size: 35px;

		@media (min-width: $screen-xs-min) {
			font-size: 40px;
		}
	}

	& h2 {
		margin-bottom: 1rem;
	}

	& p {
		margin-bottom: 2rem;

		font-family: $secondaryFont;
		font-size: 16px;
		line-height: 1.8em;
		font-weight: 300;
		text-align: justify;

		@media (min-width: $screen-xs-min) {
			font-size: 18px;
		}

		&.blogpost__intro {
			font-weight: 400;
		}

		&.blogpost__intructions {
			@extend .blogpost__indented;
			
			font-family: $primaryFont;
		}
	}

	& blockquote {
		width: 95%;
		margin-top: -.5rem;
		margin-bottom: 1.5rem; 

		@media (min-width: $screen-sm-min) {
			width: 80%;
			padding-left: 1.5em;
		}

		& p {
			margin-bottom: .8em;

			font-size: .9em;
			line-height: 1.5em;
			text-align: left;
		}

		& footer {
			margin: 0;
			padding: 0;

			color: $grey--dark;
			// font-size: .9em;
			text-align: left;
		}
	}

	& ul {
		@extend .blogpost__indented;
	}

	& ul, ol {
		margin-bottom: 2rem;

		font-family: $secondaryFont;
		font-size: 16px;
		line-height: 1.8em;
		font-weight: 300;


		& li {
			margin-bottom: 1rem;

			line-height: 1.2em;
		}
	}

	& strong {
		font-weight: 400;
	}
}

/*	Meta
	===================== */

.blogpost__meta {
	position: relative;

	&--top {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $grey--lighter;

	}

	&--bottom {
		padding-top: .4em;
		border-top: 1px solid $grey--lighter;
	}
}

.blogpost__meta__item {
	margin-bottom: .4rem;

	&:last-child {
		margin-bottom: 1rem; // only has effect on non series articles
	}
}

.blogpost__share {
	position: absolute;
	right: -10px;

	padding: 10px;

	text-decoration: none;

	&--series {
		right: 50%;
	}

	.blogpost__meta--top & {
		bottom: -9px;
	}

	.blogpost__meta--bottom & {
		top: -4px;
	}
}

.blogpost__share__image {
	height: 20px;
	width: 25px;
}

.blogpost__navblock {

	&--top {
		margin-top: 2.5rem;
		margin-bottom: -.8rem;
	}

	&--bottom {

	}
}

.blogpost__to-top-nav {
	padding: 6px; 
	
	cursor: pointer;
}

.blogpost__series-nav {
	float: right;
}

.blogpost__series-nav__item {
	position: relative;

	padding: 6px; 

	text-decoration: none;

	&:first-child {

		&:after {
			position: absolute;
			right: 3px;
			top: 7px;

			display: block;
			height: 14px;

			border-right: 1px solid $black;

			content: "";
		}
	}

	&.disabled {
		color: $grey;

		cursor: default;
	} 
}

.blogpost__meta__seriesTitle {
	font-weight: 700;
}

/*	Miscellaneous
	===================== */
.gist {
	width: 100%;
}

.blogpost__indented {
	padding-left: 1em;

	border-left: 10px solid $grey--lightest;

	@media (min-width: $screen-sm-min) {
		margin-left: 2rem;
	}
}

.blogpost__image-wrapper {
	margin-bottom: 2rem;

	text-align: center;

	img {
		max-width: 100%;
	}
}