.greeting {
	margin: 3rem 0 1rem;

	@media (min-width: $screen-xs-min) {
		margin-top: 4rem;
	}
}

.greeting__image img{
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;

	background: $grey--lighter;

	border-radius: 50%;

	@media (min-width: $screen-xs-min) {
		float: left;

		margin: 0;
	}
}

.greeting__content {

	@media (min-width: $screen-xs-min) {
		padding-left: 180px;
	}

	@media (min-width: $screen-sm-min) {
		padding-left: 200px;
	}
}

.greeting__title {
	margin-top: 1rem; 

	@media (min-width: $screen-xs-min) {
		margin-top: .6rem; 
	}
}