.search-wrapper {
	margin: 3rem 0 -3rem;

	text-align: center;
}

.search {
	display: inline-block;
	width: 200px;
	padding: .3em 2em .3em .3em;

	font-size: 1.2rem;

	border: none;
	border-bottom: 1px solid $grey--lighter;

	background: $white url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cg%20id%3D%22icomoon-ignore%22%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M15.56%2015.56c-0.587%200.587-1.538%200.587-2.125%200l-2.652-2.652c-1.090%200.699-2.379%201.116-3.771%201.116-3.872%200-7.012-3.139-7.012-7.012s3.14-7.012%207.012-7.012c3.873%200%207.012%203.139%207.012%207.012%200%201.391-0.417%202.68-1.116%203.771l2.652%202.652c0.587%200.587%200.587%201.538%200%202.125zM7.012%202.003c-2.766%200-5.009%202.242-5.009%205.009s2.243%205.009%205.009%205.009c2.766%200%205.009-2.242%205.009-5.009s-2.242-5.009-5.009-5.009z%22%20fill%3D%22%23AAA%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A") right .3em center no-repeat;

	outline: none;
}

.search-subtitle {
	position: absolute;
	margin-top: -1rem;
	color: $grey--lighter;
	font-size: 14px;
}