.series-intros {
	position: relative;
	margin-bottom: 0.55555555555556rem;
	@extend .z-depth-1;

	&:last-child {
		margin-bottom: 0;
	}

	& p {
		font-family: $secondaryFont;
		font-size: .9em;
		line-height: 1.5em;
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.series-intro {
	padding: 1.5rem 1.5rem 3rem;

	@extend .bg-white;

	text-decoration: none;

	@extend .hoverable;

	@media (min-width: $screen-xs-min) {
		padding: 2rem 2rem 3rem;
	}
}

.series-intro__title {
	margin: .6rem 0 1rem;
	font-weight: 500;

	& span {
		font-weight: 400;
	}
}

.series-intro__intro {
	margin: 0;
}

.series-intro__cta {
	position: absolute;
	bottom: 10px;
	right: 15px;
	float: right;

	font-size: 14px;
	font-weight: 500;

	@include user-select(none);

	@media (min-width: $screen-xs-min) {
		font-size: 16px;
	}
}
