.series-intros {
	position: relative;
	margin-bottom: 0.55555555555556rem;

	box-shadow: 0 2px 3px rgba(0,0,0,0.075);

	&:last-child {
		margin-bottom: 0;
	}

	& p {
		font-family: $secondaryFont;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.series-intro {
	padding: 2rem 2rem 3rem;

	background: $grey--lightest;

	text-decoration: none;

	@include transition(background .3s);

	&:hover {
		background: $grey--lighter;
	}
}

.series-intro__title {
	margin: .6rem 0 1rem;

	& span {
		font-weight: 400;
	}
}

.series-intro__intro {
	margin: 0;
}

.series-intro__cta {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;

	font-size: 14px;
	font-weight: 700;

	@include user-select(none);

	@media (min-width: $screen-xs-min) {
		font-size: 18px;
	}
}