*, *:before, *:after {
  box-sizing: border-box;
}

body {
	color: $black;
	font-family: $primaryFont;
	font-size: 18px;
	font-weight: 400;
	
	background: $white;
}

h1 {
	margin: 4rem 0 1rem;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}


p {	
	margin-bottom: 15px;

	line-height: 1.4em;
	
	.blogpost-intros &, .series-intros &, article & {
		font-family: $secondaryFont;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: 300;
	}

	.blogpost-intros &, .series-intros & {
		margin-bottom: 0;
	}
}

a {
	color: inherit;
}

strong {
	font-weight: 700;
}