*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	height: 100%;

	color: $black;
	font-family: $primaryFont;
	font-size: 18px;
	font-weight: 400;

	background: $white;
}

h1 {
	margin: 3rem 0 1rem;
	font-size: 30px;
	font-weight: 700;

	@media (min-width: $screen-xs-min) {
		margin-top: 4rem;
	}
}

h2 {
	font-size: 24px;
	font-weight: 700;
}


p {
	margin-bottom: 15px;

	font-weight: 300;
	line-height: 1.4em;
}

code {
	padding: 0 5px;
	font-size: 14px;
	font-family: $codeFont;

	background: $grey--lightest;
}

a {
	color: inherit;
}

strong {
	font-weight: 500;
}

i {
	font-style: italic;
}

hr {
	border-color: $grey--lighter;
}
